.briefcase{
    display: flex;
    flex-direction: column;
}
.briefcase-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
    margin-top: 70px;
}
.briefcase-description{
    padding: 20px;
    font-weight: 400;
}
.briefcase-proyects{
    margin: 0 auto;
}
.proyects{
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin: 50px 0;
    box-shadow: 4px 4px 4px var(--secundary-color);
    padding: 20px;
}

.briefcase-img{
    width: 300px;
    border: 2px solid #000;
    border-radius: 5px;
}
.briefcase-subtitle{
    font-weight: 800;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.briefcase-description{
    font-size: 20px;
}
.briefcase-link{
    padding: 10px 20px;
    background-color: var(--secundary-color);
    color: #fff;
    width: 30%;
    border-radius: 5px;
}
.briefcase-link:hover{
    background-color: var(--primary-color);
    transition: 0.7s;
    cursor: pointer;
}
@media (min-width: 950px){
    .briefcase-title{
        font-size: 50px;
        margin: 35px;
        margin-top: 70px;
    }
    .briefcase-description{
        font-size: 20px;
    }
    .briefcase-proyects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .proyects{
        width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 600px;

    }
    .briefcase-img{
        width: 300px;
        border: 2px solid #000;
        border-radius: 5px;
    }
    .briefcase-subtitle{
        font-weight: 800;
        font-size: 40px;
        font-family: 'Dancing Script', cursive;
    }
    .briefcase-description{
        font-size: 20px;
    }
    .briefcase-link{
        padding: 10px 20px;
        background-color: var(--secundary-color);
        color: #fff;
        width: 30%;
        border-radius: 5px;
    }
    .briefcase-link:hover{
        background-color: var(--primary-color);
        transition: 0.7s;
        cursor: pointer;
    }
}